@import "tailwindcss";

:root {
  --background: #FFFDF7;
  --foreground: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sage-green: #1883FF;
  --color-warm-beige: #FFE26F;
  --color-pastel-blue: #99ADFF;
  --color-bubblegum: #FFA9DD;
  --color-lime: #C4E02F;
  --color-orange: #FEB700;
  --color-sky-blue: #4BB8FA;
  --font-montserrat: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}